package components

templ Base(title string){
    <html>
    <head>
    <title>{ title }</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    </head>
    <body>
    <header>
    <nav>
    <a href="#">Home</a>
    <a href="#">About</a>
    </nav>
    </header>
    { children... }
    </body>
    </html>
}